.fru {
    background-color: chartreuse;
    width: 15%;
    margin-left: 30px;
}

.veg {
    background-color: orange;
    width: 15%;
    margin-left: 30px;
}

.can {
    background-color: red;
    width: 15%;
    margin-left: 30px;
}

.misc {
    background-color: green;
    width: 15%;
    margin-left: 30px;
}

h1 {
    color: white;
}

.fruit-pic,
.veggie-pic,
.canned-pic,
.misc-pic {
    width: 200px;
    padding: 30px
}

.fruit-all,
.veggie-all,
.canned-all,
.misc-all {
    padding: 20px;
    border: black;
    border-width: 5px;
}